<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataBaseUserName" value="Database_Reader"/>
    <add key="dataBasePW" value="dataBaseUserName Password"/>
    <add key="spoUserName" value="SPO_UserName@domain.com"/>
    <add key="spoPassword" value="spoUserName Password"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>